    .Uber {

            background-color: rgb(0, 0, 0);
            color: white;
            height: 39px; /* inaltimea*/
            width: 105px; /* lungimea*/
            border: none;
            border-radius: 2px;
            cursor: pointer;
            border-color: rgb(2, 2, 2);
            border-style: solid;
            border-width: 1px;
            cursor: pointer;
            opacity: 1;
            transition: opacity 1;
            

        }

    .Uber:hover {

            opacity: 0.8;

         }   

    .Amazon {

            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgb(255, 216, 20);
            color:black;
            height: 39px; /* inaltimea*/
            width: 175px; /* lungimea*/
            border: none;
            border-radius: 20px;
            cursor: pointer;
            border-color: none;
            border-width: 1px;
            cursor: pointer;
       

        }

    .Amazon:hover {

           background-color:  rgb(247, 195, 41);
            
        } 

     .GitHub {

            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            background-color: rgb(46, 164, 79);
            color: white;
            height: 45px; /* inaltimea*/
            width: 105px; /* lungimea*/
            border: none;
            border-radius: 8px;
            cursor: pointer;
            border-color: rgb(2, 2, 2);
            border-style: none;
            border-width: 1px;

        }
    .GitHub:hover {

        box-shadow:  0px  5px 5px black;

    }

    .Get-started {

            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            background-color: rgb(121, 82, 179);
            color: white;
            height: 40px; /* inaltimea*/
            width: 125px; /* lungimea*/
            border: none;
            border-radius: 6px;
            cursor: pointer;
            border-color: rgb(2, 2, 2);
            border-style: none;
            border-width: 1px;

        }

    .Download {

            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            background-color: white;
            color:rgb(108, 117, 125);
            height: 40px; /* inaltimea*/
            width: 125px; /* lungimea*/
            border: solid;
            border-radius: 6px;
            cursor: pointer;
            border-color: rgb(108, 117, 125);
            border-style: solid;
            border-width: 1px;

        }
        
    .Get-started:hover {

            background-color: rgb(107, 71, 161);
        }

        
    .Download:hover {

            background-color: rgb(108, 117, 125);
            color: white;

        } 

    .Applay {

            font-size: 17px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            background-color: rgb(10, 102, 194);
            color: white;
            height: 45px; /* inaltimea*/
            width: 250px; /* lungimea*/
            border: none;
            border-radius: 30px;
            cursor: pointer;
            border-color: rgb(2, 2, 2);
            border-style: none;
            border-width: 1px;

        }

    .Save {

            font-size: 17px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            background-color: white;
            color: rgb(10, 102, 194);
            height: 45px; /* inaltimea*/
            width: 100px; /* lungimea*/
            border: none;
            border-radius: 30px;
            cursor: pointer;
            border-color: rgb(10, 102, 194);
            border-style: solid;
            border-width: 1px;
             transition: background-color 0.15s, border-width 0.15s;
                                    

        }
    .Applay:hover {

            background-color: rgb(10, 81, 151);

    }
    .Save:hover {

            border-width:  2px ;
            background-color: rgb(104, 161, 219);

    }

    
    .stock {

            color: rgb(0, 118, 0);

        }

    .Amazon-link{

            color: rgb(0, 113, 133);

        }

    .Amazon-link:hover {
        color: orange;

        }

    .Cart {

            font-size: 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgb(255, 216,20);
            color: black;
            height: 30px; /* inaltimea*/
            width: 125px; /* lungimea*/
            border: none;
            border-radius: 30px;
            cursor: pointer;
            border-color: rgb(2, 2, 2);
            border-style: none;
            border-width: 1px;
        }
    .Cart:hover{
        background-color: rgb(202, 175, 41);
       
    }
    .Cart:active{
         opacity: 0.7;
    }

    .Buy {

            font-size: 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgb(255, 164,28);
            color: black;
            height: 30px; /* inaltimea*/
            width: 125px; /* lungimea*/
            border: none;
            border-radius: 30px;
            cursor: pointer;
            border-color: rgb(2, 2, 2);
            border-style: none;
            border-width: 1px;

        }
    .Buy:hover {

        background-color: rgb(180, 112, 10);
       
    }
    .Buy:active {
        
         opacity: 0.7;
    }

    .Shoes {

            font-size: 30px;
            font-weight: bold;
            color: black;

        }       